<!-- 管理者のみこのページを表示させる -->
<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h1>クーポン登録画面</h1>
    <% if flash[:errorlist] %>
      <% flash[:errorlist].each do |error| %>
        <%= error %><br>
      <% end %>
    <% end %>
      <%= render 'form' %>
      <%= link_to "トップ画面にもどる", root_path %>
  </div>
</div>
