<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
     p app-title {
       letter-spacing: .5em;
       display: inline-block;
       border: 4px double rgba(255, 255, 255, 0.25);
       border-width: 4px 0;
       padding: 1.5em 0em;
       position: absolute;
       top: 18%;
       left: 50%;
       width: 40em;
       margin: 0 0 0 -20em;
       font-family: arial;
     }
  </style>
</head>
<body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <div class="carousel slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner">
      <!-- ページ表示時に一番最初に表示する画像-->
      <div class="item active">
        <div class="example">
        <img style="width:100%;" src="/assets/meeting.jpg"/>
          <p>誰にでも世界を変えるチャンスはある。</p>
        </div>
      </div>
      <div class="item">
        <img style="width:100%;" src="/assets/salesman.jpg"/>
      </div>
      <div class="item">
        <img style="width:100%;" src="/assets/deskwork.jpg"/>
      </div>
    </div>
  </div>
<h1>採用ページ</h1>
</body>
</html>
