<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
     p app-title {
       letter-spacing: .5em;
       display: inline-block;
       border: 4px double rgba(255, 255, 255, 0.25);
       border-width: 4px 0;
       padding: 1.5em 0em;
       position: absolute;
       top: 18%;
       left: 50%;
       width: 40em;
       margin: 0 0 0 -20em;
       font-family: arial;
     }
  </style>
</head>
<body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <div class="carousel slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner">
      <!-- ページ表示時に一番最初に表示する画像-->
      <div class="item active">
        <div class="example">
        <img style="width:100%;" src="/assets/meeting.jpg"/>
          <p id="fire">誰にでも<br>世界を変える<br>チャンスはある</p>
        </div>
      </div>
      <div class="item">
        <div class="example">
        <img style="width:100%;" src="/assets/salesman.jpg"/>
          <p id="area">あなたの斬新な<br>アイデアを私たちと<br>一緒に形にしませんか？</p>
        </div>
      </div>
      <div class="item">
        <div class="example">
        <img style="width:100%;" src="/assets/deskwork.jpg"/>
        <p>「私たちで明日を変える。」<br>それが株式会社です。</p>
        </div>
      </div>
    </div>
  </div>
<h1>募集要項</h1><br>
<h3>選考方法</h3>
   <p>弊社は以下を選考判定のポイントとしています。</p><br>
   <ul>
     <li>一般常識</li>
     <li>雑学力</li>
     <li>アイデア力</li>
   </ul>

   <p>選考フロー<p>


</body>
</html>
