// Place all the styles related to the coupons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ログインした時に表示するメッセージの設定
.flash {
  color: white;
  padding-top: 10px;
}

//メニューを横並びにする

header {
  width: 100%;
  background-color: red;
  height: 54px;
}


header ul {
  margin: 0 auto;
  list-style: none;
}

header li {
  float: left;
  width: auto;
}
//24時間営業かどうかの制御
.coupon-time-click {
  display: block;
}

.holiday-condition {
  display: block;
}

footer {
  width: 100%;
  background-color:#330099;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}
