// Place all the styles related to the coupon_shop_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#designShowShopName {
  width: 200px;
  height: 200px;
}

#designShowShopName span{
  color: blue;
}

//24時間営業かどうかの制御
.coupon-time-click {
  display: block;
}

.holiday-condition {
  display: block;
}

//クーポンショップ登録画面の背景画像
.regist_coupon_service{
  background-size: cover;
  background-image:  url("register_branch_office.jpg");
  background-attachment: fixed;
}

//クーポンショップ登録画面のデザイン
#nav {
  background: #99ffb2;
  padding: 10px;
  margin-top: 40px;
  //角の丸みを設定する
  border-radius:15px;
  //透明度を設定する
  // opacity: .8;
text-align: center;
}
