@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  height: 100%;
  font-size: 62.5%;
}

//ヘッダーの色を設定する
.container-fluid {
background-image: linear-gradient(to top left, #101F1C, #143F38, #2B645B, #5D9F95, #1F514E);
}

//タイトル文字のデザインを設定する
.navbar-inverse .navbar-brand {
    color: red;
}

//ヘッダー右側のメニュー文字のデザイン
.navbar-inverse .navbar-nav>li>a {
    color: red;
}

//メニューを横並びにする
header ul {
  margin: 0 auto;
  list-style: none;
}

header li {
  float: left;
  width: auto;
}
//24時間営業かどうかの制御
.coupon-time-click {
  display: block;
}

.holiday-condition {
  display: block;
}

body{
     width: 100%;
     height:100%; /*ブラウザいっぱいに高さを取得*/
     margin:0;
     padding:0;
}

//コンテナ(ページ全体に関わる設定)
.container{
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

//ログインした時に表示するメッセージの設定
.flash {
  color: white;
  padding-top: 10px;
}

footer {
    width: 100%;
    background-image: linear-gradient(to top left, #101F1C, #143F38, #2B645B, #5D9F95, #1F514E);
    padding: 20px 0 10px 0;
    position: absolute;
    margin: auto;
    font-size: 13px;
    background-color: #4D4D4D;
}

footer a{
  color: red;
  text-decoration: none;
  text-align: right;
}

fieldset{
    padding: 15px;
  }

.registration_design {
    max-width:400px;
    border: solid 1px #FF773E;
    border-radius:10px 10px 0px 0px;
  }

  .carousel .item {
  height: 100%;
}

  @media (min-width: 320px) {
    .carousel,
    .carousel .item,
    .carousel .item-mask,
    .carousel-inner .item .item-mask img {
      height:700px;
    }
  }

  @media (min-width: 768px) {
    .carousel,
    .carousel .item,
    .carousel .item-mask,
    .carousel-inner .item .item-mask img {
      height:660px;
    }
  }

//一般ユーザーのサインアップページ壁紙
.generaluser-singup-header {
  padding-bottom: 5%;
  background-size: cover;
  background-image:  url("building.jpg");
  background-attachment: fixed;
}

//一般ユーザーのログインページ壁紙
.generaluser-login-header {
  background-size: cover;
  background-image:  url("building.jpg");
  background-attachment: fixed;
}

//管理者のサインアップページ壁紙
.shopManager-login-singup-header {
  background-size: cover;
  background-image:  url("building.jpg");
  background-attachment: fixed;
}

//管理者のログインページ壁紙
.shopManager-login-header {
  background-size: cover;
  background-image:  url("building.jpg");
  background-attachment: fixed;
}

//What's new の通知ジャンルのデザイン
.news_genre {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #d27d00;/*線色*/
}

//管理者のサインアップページ壁紙
.question_cover {
  background-size: cover;
  background-image:  url("park.jpg");
  background-attachment: fixed;
}

//採用ページのスライドショーの文字の設定
.example {
  position: relative;
  }

.example p {
  position: absolute;
  font-size: 38px;
  top: 50%;
  left: 50%;
  color:white;
  margin:0;
  padding:0;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  }

.effects {
  font: bold 68px palatino linotype;
  color: #333;
  // text-shadow: 0px 2px 3px #777;
  text-shadow: 0 0 20px #fefcc9, 10px
  -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
  -20px -60px 60px #cd4606, 0 -90px 70px
  #973716, 10px -90px 80px #451b0e;
}

//1枚目のスクリーションショットの文字設定
p#fire {
 color: #f5f5f5;
 text-shadow:
 0px -2px 4px #fff,
 0px -2px 10px #FF3,
 0px -10px 20px #F90,
 0px -20px 40px #C33;
 font-size: 70px;
 text-align: center;
}

//2枚目スクリーンショットの文字設定
p#area {
  text-align: center;
  font-size: 60px;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}
